doctype html
html
  head
    title Tic Tac Toe
    link(rel='stylesheet' href='/main.css')
  body
    h1 tic tac toe
    .create
      a(href='/game/create') Start New Game
    .join
      a(href='/game') Join a game
